QUANLYBANHANG/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:57189/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:57189/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:57189/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:57189/Service1.svc?xsd=xsd3" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_getTableProcedurce_InputMessage">
    <wsdl:part name="parameters" element="tns:getTableProcedurce" />
  </wsdl:message>
  <wsdl:message name="IService1_getTableProcedurce_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTableProcedurceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getTable_InputMessage">
    <wsdl:part name="parameters" element="tns:getTable" />
  </wsdl:message>
  <wsdl:message name="IService1_getTable_OutputMessage">
    <wsdl:part name="parameters" element="tns:getTableResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExeCuteSQL_InputMessage">
    <wsdl:part name="parameters" element="tns:ExeCuteSQL" />
  </wsdl:message>
  <wsdl:message name="IService1_ExeCuteSQL_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExeCuteSQLResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExeCuteProcedurce_InputMessage">
    <wsdl:part name="parameters" element="tns:ExeCuteProcedurce" />
  </wsdl:message>
  <wsdl:message name="IService1_ExeCuteProcedurce_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExeCuteProcedurceResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="getTableProcedurce">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTableProcedurce" message="tns:IService1_getTableProcedurce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTableProcedurceResponse" message="tns:IService1_getTableProcedurce_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getTable">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getTable" message="tns:IService1_getTable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getTableResponse" message="tns:IService1_getTable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExeCuteSQL">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExeCuteSQL" message="tns:IService1_ExeCuteSQL_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExeCuteSQLResponse" message="tns:IService1_ExeCuteSQL_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExeCuteProcedurce">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExeCuteProcedurce" message="tns:IService1_ExeCuteProcedurce_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExeCuteProcedurceResponse" message="tns:IService1_ExeCuteProcedurce_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTableProcedurce">
      <soap:operation soapAction="http://tempuri.org/IService1/getTableProcedurce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTable">
      <soap:operation soapAction="http://tempuri.org/IService1/getTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExeCuteSQL">
      <soap:operation soapAction="http://tempuri.org/IService1/ExeCuteSQL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExeCuteProcedurce">
      <soap:operation soapAction="http://tempuri.org/IService1/ExeCuteProcedurce" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:57189/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>